// Pink Dreams Theme (Dark Mode)
$dark-background-color: #2D1B2E !default;
$dark-text-color: #F5D7E4 !default;
$dark-accent-color: #FF91C1 !default;
$dark-border-color: #5A3D5C !default;
$dark-code-bg: #3F2A40 !default;

html[data-theme="dark"] {
  &[data-scroll-status='top'] {
    header.site-header-transparent {
      &.site-header {
        @include media-query($on-laptop) {
          .page-link {
            color: #FFD9EC;
          }
        }
      }
    }

    footer.site-footer {
      .site-footer-inner {
        border-top: solid 1px #5A3D5C !important;
        transition: 0s;
      }
    }
  }

  body {
    color: $dark-text-color;
    background-color: $dark-background-color;
  }

  *:not(pre)>code {
    color: $dark-text-color;
    background-color: $dark-code-bg;
  }

  blockquote {
    border-left: 4px solid $dark-accent-color;
  }

  table {
    color: #9d9d9d;

    th {
      background-color: #3F2A40;
    }

    tr:nth-child(even) {
      background-color: #362636;
    }
  }

  .site-header {
    background-color: #3D2940;

    .site-brand {
      .site-brand-inner {

        &,
        &:visited {
          color: #FFD9EC;
        }
      }
    }

    .site-nav .page-link {
      color: #FFD9EC;
    }

    .ct-language-dropdown {
      color: #FFD9EC;
      background-color: $dark-background-color;
      box-shadow: 0 0 3px 1px #0000005b;
    }

    .ct-language-selected,
    .ct-language-dropdown li:hover {
      background-color: #4D3A52 !important;
    }

    @include media-query($on-laptop) {
      .menu-icon>svg {
        fill: rgba($dark-text-color, 80%);
      }

      .site-nav input:checked~.trigger {
        background-color: #3D2940;
      }
    }
  }

  .site-footer {
    color: #FFD9EC;
    background-color: #1F141F;
  }

  .left-vsplit:before {
    background-color: $dark-border-color;
  }

  .page-banner {
    .page-banner-img {
      &>*:first-child {
        opacity: 0.718;
      }
    }
  }

  .pagination {
    .post-link {
      color: #bbb;
    }

    .post-excerpt {
      color: $grey-color;
    }

    .post-list {
      &>li:not(:last-child) {
        border-bottom: 1px solid $dark-border-color;
      }
    }

    .post-tags .post-tag:hover {
      color: $dark-accent-color;
    }
  }

  .page-segments {
    li {
      a {
        color: #FFD9EC;
      }
    }
  }

  .post {
    .post-header {
      border-bottom: 1px solid $dark-border-color;
    }

    .post-content {
      img:not(.emoji):not([raw]) {
        background-color: #ffffff33;
      }

      hr {
        background-color: $dark-border-color;
      }
    }

    .post-related {
      &>*:first-child {
        color: #FFD9EC;
      }

      a:hover {
        color: $dark-accent-color;
      }
    }
  }

  .common-list {
    li {
      border-bottom: solid 1px #5A3D5C88;

      a {
        color: #F5D7E4;
      }

      a:hover {
        background-color: #4D3A52;
      }

      span {
        background-color: #4D3A52;
      }
    }
  }

  .post-menu {
    .post-menu-title {
      color: #FFD9EC;
    }

    .post-menu-content {
      ul {
        border-left: 1px solid $dark-border-color;

        .active {
          background-color: #4D3A52;
          border-left: 2px solid $dark-accent-color;
        }

        a {
          color: $dark-text-color;
        }

        a:hover {
          color: #FFD9EC !important;
        }
      }
    }
  }

  a .post-badges .post-badge {
    color: $dark-background-color !important;
  }

  a:visited .post-badges .post-badge.badge-new {
    display: none;
    background-color: $dark-background-color;
  }
}